body {
    background-color: rgba(0,255,255, 0.1);
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
    background-color: rgb(163, 167, 210);
    color: navy;
    text-align: center;
    font-family: monaco, "Courier New", monospace;
}

p {
    font-family: "Times New Roman", Garamond, serif;
    font-size: 30px;
    
    padding: 120px;
    text-align: left;
}
img {
    border-radius: 500px;
    align-items: baseline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
}

div {
    column-count: 3;

}